/* You can add global styles to this file, and also import other style files */
:root {
--bgColor: hsl(217, 54%, 11%);
--cardBg: hsl(216, 50%, 16%);
--lineColor: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
--softBlue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
}

html, body {
 height: 100%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bgColor); 
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

