<div class="nft-card">
  <div class="img-overlay-wrap">
    <img src="assets/images/image-equilibrium.jpg" alt="img" class="equilibrium-img">
    <span><img src="assets/images/icon-view.svg" alt="icon-view" class="view-icon"></span>
  </div>
  <div class="nft-info">
    <h1 class="nft-name">Equilibrium #3429</h1>
    <p class="nft-about">Our Equilibrium collection promotes balance and calm.</p>
    <div class="nft-price-line">
      <div class="nft-price-tag">
        <span><img src="assets/images/icon-ethereum.svg" alt="icon-ethereum" class="ethereum-icon"></span>
        <p class="price-text">0.041 ETH</p>
      </div>
      <div class="nft-days-left-tag">
        <span><img src="assets/images/icon-clock.svg" alt="icon-clock" class="clock-icon"></span>
        <p class="days-left-text">3 days left</p>
      </div> 
    </div>
      <hr class="spacer-line">
      <div class="created-by">
      <span><img src="assets/images/image-avatar.png" alt="image-avatar" class="avatar-image"></span>
      <p class="created-by-text">Creation of <span class="author-name">Kues Wyvern</span></p>
    </div>
  </div>
</div>
