.nft-card {
  background-color: var(--cardBg);
  border-radius: 15px;
  max-width: 300px;
  max-height: 500px;
  padding: 1.5em;
}

.equilibrium-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.nft-info {
display: flex;
align-items: center;
justify-items: center;
}

