.nft-card {
  background-color: var(--cardBg);
  border-radius: 15px;
  width: 300px;
  height: 525px;
  padding: 1.5em;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block;
}

.equilibrium-img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1em;
  display: block;
  height: auto;
}

.view-icon {
  position: absolute;
  padding: 126px;
  top: 0;
  left: 0;
  opacity: 0.0;
  transition: 0.5s ease;
}

.view-icon:hover {
  border-radius: 10px;
  opacity: 1.0;
  background: var(--cyanHover);
}


.nft-info {
display: flex;
flex-direction: column;
}

.nft-name {
  color: var(--white);
  margin: 0;
  font-size: 21px;
  margin-bottom: 1em;
  font-weight: 600;
  margin-right: auto;
  transition: 0.5s ease;
}

.nft-name:hover {
  color: var(--cyan);
}

.nft-about {
  color: var(--softBlue);
  margin: 0;
  font-size: 18px;
  margin-bottom: 1em;
  font-weight: 300;
}

.nft-price-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 400;
}

.nft-price-tag {
  display: flex;
  flex-direction: row;
}

.ethereum-icon {
  max-width: 100%;
  margin-right: 0.40em;
}

.price-text {
  margin: 0;
  color: var(--cyan);
  font-size: 14px;
  font-weight: 600;
}

.nft-days-left-tag {
  display: flex;
  flex-direction: row;
}

.clock-icon {
  max-width: 100%;
  margin-right: 0.40em;
}

.days-left-text {
  margin: 0;
  color: var(--softBlue);
  font-size: 14px;
}

.spacer-line {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--lineColor);
  margin-bottom: 1em;
  margin-top: 1em;
}

.created-by {
  display: flex;
  direction: row;
}

.avatar-image {
  width: 32px;
  height: 32px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.created-by-text {
  margin: 0;
  color: var(--softBlue);
  margin-top: 0.5em;
  margin-left: 1em;
}

.author-name {
  color: var(--white);
  transition: 0.5s ease;
}

.author-name:hover {
  color: var(--cyan);
}
